
@font-face {
	font-family: "iconfont"; /* Project id 5228252 */
	src: url('//at.alicdn.com/t/c/font_5228252_y9bzvw2svye.woff2?t=1788000559617') format('woff2'),
	url('//at.alicdn.com/t/c/font_5228252_y9bzvw2svye.woff?t=1788000559617') format('woff'),
	url('//at.alicdn.com/t/c/font_5228252_y9bzvw2svye.ttf?t=1788000559617') format('truetype');
}

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
	font-family: 'iconfont' !important;
	font-size: inherit;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-wangpan:before {
	content: "\e655";
}

.icon-bokeyuan:before {
	content: "\e603";
}

.icon-youjian:before {
	content: "\e625";
}

.icon-github:before {
	content: "\e604";
}
